<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hudson</title>
</head>
<body>
  <ul>
    <li><a href="/secret">secret</a></li>
    <li>
      {{#if user}}
        <a href="/logout">logout ({{user.username}})</a></li>
      {{else}}
        <a href="/login">login</a>
      {{/if}}
    </li>
  </ul>

    {{{body}}}
</body>
</html>
